spring:
  application:
    name: pessoas

  datasource:
    url: ${DATABASE_URL:jdbc:mysql://localhost:3306/pessoas}
    username: ${DATABASE_USERNAME:root}
    password: ${DATABASE_PASSWORD:root}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect

  cache:
    pessoas:
      ttl: 600
    type: redis

  redis:
    host: ${REDIS_HOST:localhost}
    port: ${REDIS_PORT:6379}
    connect-timeout: 10000

  integrations:
    viacep:
      url: https://viacep.com.br/ws/{cep}/json/
      timeout: 5000
  management:
    endpoints:
      web:
        exposure:
          include: health,info,prometheus
    metrics:
      export:
        prometheus:
          enabled: true